/* Helpers
 * General-purpose classes meant to override values
 * http://rscss.io/helpers.html
 * ========================================================================== */

._text-left {
	text-align: left;
}
._text-center {
	text-align: center;
}
._text-right {
	text-align: right;
}
._text-xs {
	@include modular-scale(-2);
}
._text-s {
	@include modular-scale(-1);
}
._text-m {
	@include modular-scale(0);
}
._text-l {
	@include modular-scale(1);
}
._text-xl {
	@include modular-scale(2);
}
._text-xxl {
	@include modular-scale(3);
}
._text-xxxl {
	@include modular-scale(4);
}
._text-xxxxl {
	@include modular-scale(6);
}
._text-uppercase {
	text-transform: uppercase;
}
._text-color-primary {
	color: $primary-color;
}
