/* Structure and Layout
 * ========================================================================== */

/* ## Site Containers
--------------------------------------------- */
.site-inner,
.wrap {
	margin: 0 auto;
	padding: 0 5%;
	max-width: 56rem;
}
.site-inner {
	clear: both;
	word-wrap: break-word;
}

/* ## Column Widths and Positions
--------------------------------------------- */
.content-sidebar .content {
	@include breakpoint("large") {
		float: left;
		width: 72.5%;
	}
}
.content-sidebar .sidebar-primary {
	@include breakpoint("large") {
		float: left;
		margin-left: 5%;
		width: 22.5%;
	}
}
