/* Footer
 * ========================================================================== */
 
/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
.footer-widgets {
	@include breakpoint("large") {
		font-size: 18px;
	}
	clear: both;
	padding: 60px 0;
	font-size: 16px;
	color: $footer-widgets-text-color;
	background-color: $footer-widgets-background-color;
}
.footer-widgets .widget-area {
	@include breakpoint("large") {
		float: left;
		margin-bottom: 0;
		width: 30%;
	}
	margin-right: 5%;
	margin-bottom: 30px;
	&:last-child {
		margin-right: 0;
		margin-bottom: 0;
	}
}
.footer-widgets .widget-title {
	margin-bottom: 12px;
	font-size: 20px;
	color: #fff;
}
.footer-widgets a:hover,
.footer-widgets a:focus {
	color: #fff;
}
.footer-widgets .widget_recent_entries {
	@include breakpoint("large") {
		display: block;
		margin: 0;
	}
	display: table;
	margin: 0 auto;
}
.footer-widgets .widget_recent_entries .post-date {
	display: block;
	font-size: 14px;
	line-height: 1.2;
	color: #888;
}

/* # Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footer {
	padding: 30px 0;
	text-align: center;
	font-size: 0;
	line-height: 1;
	background-color: $footer-background-color;
}
.nav-secondary {
	@include breakpoint("small") {
		display: block;
		margin-bottom: 30px;
	}
	@include breakpoint("large") {
		float: right;
		margin-bottom: 0;
	}
	display: none;
}
.nav-secondary .menu-item {
	padding: 0 15px;
}
.nav-secondary .menu-item > a {
	padding: 0;
	font-size: 16px;
	color: $footer-link-color;
	&:hover,
	&:focus {
		color: $footer-link-color--focus;
	}
}
.nav-secondary .current-menu-item > a {
	color: $footer-link-color--current;
}
.site-footer > .wrap > p {
	@include breakpoint("large") {
		float: left;
	}
	margin: 0;
	font-size: 16px;
	color: $footer-text-color;
}
