/* Navigation
 * ========================================================================== */

/* Navigation */
.genesis-nav-menu {
	@include breakpoint($bp-large) {
		text-align: left;
	}
	clear: both;
	margin: 0;
	text-align: center;
	font-size: 0;
	line-height: 1;
}
.genesis-nav-menu .menu-item {
	display: inline-block;
	position: relative;
	text-align: left;
	list-style: none;
}
.genesis-nav-menu .menu-item a {
	display: block;
	padding: 12px 18px;
	@include adjust-font-size-to( $base-font-size );
}
.genesis-nav-menu .sub-menu {
	display: none;
	position: absolute;
	z-index: 100;
	margin: 0;
	width: 200px;
}
.genesis-nav-menu .sub-menu .menu-item {
	display: block;
}
.genesis-nav-menu .sub-menu .menu-item a {
	@include adjust-font-size-to( $base-font-size * 0.9 );
	padding: 10px 18px;
	word-wrap: break-word;
	background-color: #fff;
}
.genesis-nav-menu .sub-menu .sub-menu {
	margin-top: -($base-line-height + 20px);
	margin-left: 200px;
}

/* Menu toggle */
.menu-toggle,
.sub-menu-toggle {
	@include adjust-font-size-to( $base-font-size );
	@include breakpoint($bp-large) {
		display: none;
	}
	display: block;
	border-width: 0;
	border-radius: 0;
	color: $base-text-color;
	background-color: transparent;
}
.menu-toggle {
	padding: 0.75em;
	&::before {
		display: inline-block;
		margin-right: 0.3em;
		width: auto;
		height: auto;
		font-family: "FontAwesome";
		font-size: inherit;
		line-height: inherit;
		font-weight: inherit;
		content: "\f0c9";
	}
}
.sub-menu-toggle {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px;
	&::before {
		font-family: "FontAwesome";
		content: "\f0d7";
	}
	&.activated::before {
		content: "\f0d8";
	}
}
