/* Navigation
 * ========================================================================== */

/* Navigation */
.genesis-nav-menu {
	@include breakpoint("large") {
		text-align: left;
	}
	clear: both;
	margin: 0;
	text-align: center;
	font-size: 0;
	line-height: 1;
}
.genesis-nav-menu .menu-item {
	display: inline-block;
	position: relative;
	text-align: left;
	list-style: none;
}
.genesis-nav-menu .menu-item a {
	display: block;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	line-height: -gen-vr(1);
}
.genesis-nav-menu .sub-menu {
	display: none;
	position: absolute;
	z-index: 100;
	margin: 0;
	width: -gen-rp(200px);
}
.genesis-nav-menu .sub-menu .menu-item {
	display: block;
}
.genesis-nav-menu .sub-menu .menu-item a {
	font-size: 0.9rem;
	word-wrap: break-word;
}
.genesis-nav-menu .sub-menu .sub-menu {
	margin-top: -(-gen-vr(1) + 1rem);
	margin-left: -gen-rp(200px);
}

/* Menu toggle */
.menu-toggle,
.sub-menu-toggle {
	@include breakpoint("large") {
		display: none;
	}
	display: block;
	border-width: 0;
	border-radius: 0;
	font-size: 1rem;
	line-height: -gen-vr(1);
	font-weight: 400;
	color: $base-text-color;
	background-color: transparent;
}
.menu-toggle {
	padding: 0.75em;
	&::before {
		display: inline-block;
		margin-right: 0.3em;
		width: auto;
		height: auto;
		font-family: "FontAwesome";
		font-size: inherit;
		line-height: inherit;
		font-weight: inherit;
		content: "\f0c9";
	}
}
.sub-menu-toggle {
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	width: -gen-vr(1) + 1rem;
	height: -gen-vr(1) + 1rem;
	&::before {
		font-family: "FontAwesome";
		font-size: inherit;
		line-height: inherit;
		font-weight: inherit;
		content: "\f0d7";
	}
	&.activated::before {
		content: "\f0d8";
	}
}
